IMMICH_API_KEY=
IMMICH_BASE_URL=http://localhost:2283
IMMICH_ALBUM_ID=86e11802-83db-44d3-bdb6-dcf0e4c0d6ca
TIMELAPSE_MIN_FRAMES=10
TIMELAPSE_MAX_GAP_SECONDS=60
TIMELAPSE_DETECTION_SOURCE=duplicates
TIMELAPSE_MIN_REQD_SPAN_SECONDS=5
TIMELAPSE_MAX_CV_GAP=0.5 # Timing regularity (0.5 = 50% variation allowed)
TIMELAPSE_MAX_CV_SIZE=0.2 # File size consistency (0.2 = 20% variation allowed)
TIMELAPSE_FILTER_LOCATION=false